isaacgym/
.ipynb_checkpoints/
.vscode/
*img
*__pycache__*
fbx/
cmu_fbx_all/
*zip
*ipynb
npy
pkl
npz
*.pkl
*.npz
phc/

motion_data/

ignore/

track_dataset/

*.pt
*.log

debug.mp4

MUJOCO_LOG.TXT

data_recorded/

PythonClient/

avp_teleoperate/

unitree_IL_lerobot/

retarget_lib/

body_models/

collab_data/


ubisoft-laforge-animation-dataset/

*.out

videos/


logs/

ProtoMotions/
.env_setup_finished
thirdparty/
unitree_sdk2/
!legged_gym/assets/**
