<?xml version="1.0" ?>
<robot name="bike_vscode">
  <link name="frameLink">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <geometry>
        <mesh filename="package://resmimic_assets/bicycle/meshes/frame_scaled.STL"/>
      </geometry>
    </visual>
  </link>

  <link name="handlebarLink">
    <visual>
      <origin rpy="-1.5089523943366046 0.017064611667450248 -1.57454489647697" xyz="-0.03313875198364258 0.0 -0.23958677053451538"/>
      <geometry>
        <mesh filename="package://resmimic_assets/bicycle/meshes/handlebar_scaled.STL"/>
      </geometry>
    </visual>
  </link>

  <joint name="frame_to_handlebar" type="continuous">
    <axis xyz="0 0 1"/>
    <parent link="frameLink"/>
    <child link="handlebarLink"/>
    <origin rpy="0 -0.261799387799149 0" xyz="0.70 0 0.22"/>
    <limit effort="100" velocity="100"/>
  </joint>

  <link name="frontWheelLink">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <geometry>
        <mesh filename="package://resmimic_assets/bicycle/meshes/wheel_scaled.STL"/>
      </geometry>
    </visual>
  </link>

  <joint name="handlebar_to_frontwheel" type="continuous">
    <axis xyz="0 1 0"/>
    <parent link="handlebarLink"/>
    <child link="frontWheelLink"/>
    <origin rpy="0 0 0" xyz="0.07 0 -0.69"/>
    <limit effort="100" velocity="100"/>
  </joint>

  <link name="backWheelLink">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 0"/>
      <geometry>
        <mesh filename="package://resmimic_assets/bicycle/meshes/wheel_scaled.STL"/>
      </geometry>
    </visual>
  </link>

  <joint name="frame_to_backwheel" type="continuous">
    <axis xyz="0 1 0"/>
    <parent link="frameLink"/>
    <child link="backWheelLink"/>
    <origin rpy="0 0 0" xyz="-0.69 0 -0.42"/>
    <limit effort="100" velocity="100"/>
  </joint>
</robot>
