<?xml version='1.0' encoding='utf-8'?>
<robot name="bikered">
  <link name="bike_root">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03" />
      </geometry>
    </collision>
  </link>

  <joint name="bike_root_to_mesh" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="bike_root" />
    <child link="bikered_body" />
  </joint>

  <link name="bikered_body">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="8.0" />
      <inertia ixx="0.08" ixy="0" ixz="0" iyy="0.08" iyz="0" izz="0.08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="bikered_scaled_0.5.stl" scale="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="bikered_scaled_0.5.stl" scale="1.0 1.0 1.0" />
      </geometry>
    </collision>
  </link>
</robot>